@import "@prose-ui/next/prose-ui.css";

@layer reset, base, tokens, recipes, utilities;

:root {
  --p-font-family: GeistSans;
  --p-font-family-heading: GeistSans;
  --p-font-family-mono: GeistMono;
  --p-body-color-bg: transparent;
  --p-link-text-color: var(--colors-emerald-600);
  --p-link-text-decoration-color: var(--colors-emerald-600);
  --p-content-gap: 1rem;
}

.prose-ui :is(p, blockquote p) {
  line-height: 1.5;
  color: var(--colors-clr_neutral_700_400);

  & a:hover {
    color: var(--colors-emerald-500);
    text-decoration-color: var(--colors-emerald-500);
  }
}

.prose-ui blockquote {
  padding-left: 1rem;
}

@keyframes pulse-custom {
  50% {
    opacity: 0.5;
  }
}
