body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #f4511e;
    color: #ffffff;
}
.bg-2 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-3 {
    background-color: #777; /* Dark Blue */
    color: #ffffff;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.first-container{
    padding-top: 130px;
}

.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover, .item-active {
    color: #f4511e !important;
}

figure.img-subtitle{
    margin: 20px !important;
}

/*figure.img-subtitle .fa-plus-circle{*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*top: 35%;*/
    /*width: 13%;*/
    /*height: 23%;*/
    /*background-color: #000000;*/
    /*padding: 0px;*/
    /*box-sizing: border-box;*/
    /*transition: opacity 1s;*/
/*}*/

/*figure.img-subtitle:hover .fa-plus-circle{*/
    /*opacity: 1;*/
/*}*/

.div-contact{
    width: 96%;
    margin-left: 21px;
}

footer ul{
    list-style: none;
}

footer ul li{
    display: inline;
    padding: 5px;
}

.button-social{
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 7px;
}

.around-web{
    margin-left: 40px;
    margin-bottom: 20px;
}

.fa-fw{
    color: white;
}