---
import { Image } from "astro:assets";
import XIcon from "../ui/icons/x-icon.astro";
import MenuIcon from "../ui/icons/menu-icon.html";
import CloseIcon from "../ui/icons/close-icon.astro";
import MeWebsiteImage from "../assets/me.website.png";
import MeLinkbioImage from "../assets/me.linkbio.png";
import BioLayout from "../ui/layouts/bio-layout.astro";
import GitHubIcon from "../ui/icons/github-icon.astro";
import OpenGraphImage from "../assets/opengraph-image.png";
import LinkedinIcon from "../ui/icons/linkedin-icon.astro";
import InstagramIcon from "../ui/icons/instagram-icon.astro";
---

<BioLayout>
  <div class="top-bar">
    <menu>
      <button class="menu-button">
        <span class="menu-icon-wrapper"><MenuIcon /></span>
      </button>
    </menu>
  </div>
  <div class="head">
    <Image
      alt="Me"
      width="96"
      height="96"
      class="me-linkbio"
      src={MeLinkbioImage}
    />
    <h1>Paulo Henrique</h1>
    <h2>
      Protestant christian, software engineer, Bible teacher and musical
      director.
    </h2>
  </div>
  <div class="social-links">
    <a href="https://instagram.com/phenrique___" target="_blank">
      <span class="social-icon"><InstagramIcon /></span>
      <div class="social-info">
        <span class="social-info__name">Instagram</span>
        <span class="social-info__username">@phenrique___</span>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/phenrique7/" target="_blank">
      <span class="social-icon"><LinkedinIcon /></span>
      <div class="social-info">
        <span class="social-info__name">LinkedIn</span>
        <span class="social-info__username">Paulo Henrique</span>
      </div>
    </a>
    <a href="https://x.com/__phenrique7" target="_blank">
      <span class="social-icon"><XIcon /></span>
      <div class="social-info">
        <span class="social-info__name">X (Twitter)</span>
        <span class="social-info__username">@__phenrique7</span>
      </div>
    </a>
    <a href="https://github.com/phenrique7" target="_blank">
      <span class="social-icon"><GitHubIcon /></span>
      <div class="social-info">
        <span class="social-info__name">GitHub</span>
        <span class="social-info__username">@phenrique7</span>
      </div>
    </a>
    <a href="https://phenrique.me" target="_blank">
      <span class="social-icon">
        <Image alt="Me" src={MeWebsiteImage} />
      </span>
      <div class="social-info">
        <span class="social-info__name">Website</span>
        <span class="social-info__username">phenrique.me</span>
      </div>
    </a>
  </div>
</BioLayout>

<div class="dialog-portal"></div>

<template id="dialog-portal">
  <div class="backdrop visible"></div>
  <div class="dialog-wrapper">
    <div class="dialog open">
      <div class="dialog-head">
        <h3>Share my Linkbio</h3>
        <div class="dialog-head__3rd">
          <button class="close-button"><CloseIcon /></button>
        </div>
      </div>
      <Image
        src={OpenGraphImage}
        class="opengraph-image"
        alt="Paulo Henrique's profile card"
      />
      <div class="dialog-footer">
        <div class="dialog-footer__item copy-linkbio">
          <input
            hidden
            type="text"
            id="linkbio-input"
            value={`${Astro.site}linkbio`}
          />
          <svg viewBox="0 0 48 48">
            <circle cx="50%" cy="50%" r="50%" fill="#E0E2D9"></circle>
            <g fill="#E0E2D9" transform="translate(12,12)">
              <path
                d="M14 11.9976C14 9.5059 11.683 7 8.85714 7C8.52241 7 7.41904 7.00001 7.14286 7.00001C4.30254 7.00001 2 9.23752 2 11.9976C2 14.376 3.70973 16.3664 6 16.8714C6.36756 16.9525 6.75006 16.9952 7.14286 16.9952"
                stroke="#000000"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M10 11.9976C10 14.4893 12.317 16.9952 15.1429 16.9952C15.4776 16.9952 16.581 16.9952 16.8571 16.9952C19.6975 16.9952 22 14.7577 22 11.9976C22 9.6192 20.2903 7.62884 18 7.12383C17.6324 7.04278 17.2499 6.99999 16.8571 6.99999"
                stroke="#000000"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          <span class="name">Copy Linkbio</span>
        </div>
        <a
          target="_blank"
          class="dialog-footer__item"
          href="https://x.com/intent/tweet?text=Check%20out%20this%20Linkbio! - https://phenrique.me/linkbio"
        >
          <svg viewBox="0 0 48 48">
            <circle cx="50%" cy="50%" r="50%" fill="black"></circle>
            <path
              d="M11.559 12.251L20.825 25.1736L11.5 35.6775H13.6L21.763 26.4794L28.359 35.6786H35.5L25.712 22.029L34.392 12.25H32.293L24.775 20.7211L18.7 12.251H11.559ZM14.645 13.8625H17.925L32.413 34.0661H29.133L14.644 13.8635L14.645 13.8625Z"
              fill="white"></path>
          </svg>
          <span class="name">X (Twitter)</span>
        </a>
        <a
          target="_blank"
          class="dialog-footer__item"
          href="https://wa.me/?text=Check%20out%20this%20Linkbio! - https://phenrique.me/linkbio"
        >
          <svg viewBox="0 0 24 24">
            <circle cx="50%" cy="50%" r="50%" fill="#00E676"></circle>
            <path
              d="M16.201 7.746a5.9 5.9 0 0 0-4.205-1.745c-3.276 0-5.945 2.669-5.948 5.945 0 1.049.274 2.07.793 2.973L6 18.001l3.153-.826a5.95 5.95 0 0 0 2.843.724h.003c3.275 0 5.944-2.669 5.947-5.948A5.92 5.92 0 0 0 16.2 7.746m-4.205 9.146c-.89 0-1.76-.24-2.518-.69l-.18-.108-1.87.49.5-1.824-.118-.188a4.9 4.9 0 0 1-.755-2.63 4.95 4.95 0 0 1 4.944-4.937c1.32 0 2.56.516 3.495 1.448a4.92 4.92 0 0 1 1.445 3.496 4.95 4.95 0 0 1-4.943 4.943m2.711-3.7a27 27 0 0 0-1.015-.485c-.137-.049-.236-.074-.334.074-.1.148-.384.485-.47.582-.085.1-.174.11-.322.037s-.627-.231-1.195-.739a4.5 4.5 0 0 1-.827-1.029c-.085-.148-.008-.228.066-.302.066-.066.148-.174.223-.26.074-.085.1-.148.148-.248s.025-.185-.012-.259-.333-.807-.459-1.103c-.12-.291-.242-.251-.333-.254C10.09 9.2 9.99 9.2 9.892 9.2c-.1 0-.26.037-.397.185-.136.149-.519.508-.519 1.24 0 .733.534 1.438.608 1.537.074.1 1.046 1.6 2.537 2.244.354.154.63.245.847.314.356.114.678.097.935.06.285-.043.878-.36 1.004-.707.122-.348.122-.645.085-.707-.037-.063-.137-.1-.285-.174"
              fill="#fff"></path>
          </svg>
          <span class="name">WhatsApp</span>
        </a>
        <a
          target="_blank"
          class="dialog-footer__item"
          href="https://www.linkedin.com/sharing/share-offsite/?url=https://phenrique.me/linkbio"
        >
          <svg viewBox="0 0 24 24">
            <circle cx="50%" cy="50%" r="50%" fill="#0A66C2"></circle>
            <path
              d="M8.656 10.132h-2.46V18h2.46zm.221-2.705A1.417 1.417 0 0 0 7.47 6h-.044a1.426 1.426 0 0 0 0 2.852A1.416 1.416 0 0 0 8.877 7.47zM18 13.22c0-2.365-1.505-3.285-3-3.285a2.8 2.8 0 0 0-2.488 1.269h-.07v-1.072h-2.31V18h2.458v-4.186a1.633 1.633 0 0 1 1.476-1.76h.093c.782 0 1.362.492 1.362 1.731V18h2.46z"
              fill="#fff"></path>
          </svg>
          <span class="name">LinkedIn</span>
        </a>
        <a
          target="_blank"
          class="dialog-footer__item"
          href="mailto:?subject= Check out this Linkbio! &body= Check%20out%20this%20Linkbio! - https://phenrique.me/linkbio"
        >
          <svg viewBox="0 0 48 48">
            <circle cx="50%" cy="50%" r="50%" fill="#60696C"></circle>
            <g fill="#60696C" transform="translate(12,12)">
              <path
                d="M2 17V7C2 5.89543 2.89543 5 4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17Z"
                stroke="#fff"
                stroke-width="1.5"></path>
              <path
                d="M7 9L12 12.5L17 9"
                stroke="#fff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          <span class="name">Email</span>
        </a>
      </div>
    </div>
  </div>
</template>

<style>
  .top-bar {
    display: flex;
    height: var(--sizes-12);
    justify-content: flex-end;
    margin-top: var(--spacing-1);

    & button {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      width: var(--sizes-10);
      height: var(--sizes-10);
      border-radius: var(--radii-full);
      background-color: var(--colors-white-alpha-100);
    }

    & button:hover {
      background-color: var(--colors-white-alpha-50);
    }

    & .menu-icon-wrapper {
      display: block;
      width: var(--sizes-5);
      height: var(--sizes-5);
    }
  }

  .head {
    text-align: center;
    margin-top: var(--sizes-2);

    & .me-linkbio {
      border-radius: var(--radii-full);
      margin: 0 auto var(--spacing-3) auto;
      outline: .5px solid rgba(243, 245, 247, 0.15);
    }

    & h1 {
      font-size: var(--font-sizes-xl);
      font-weight: var(--font-weights-bold);
    }

    & h2 {
      margin: var(--spacing-1) auto;
      max-width: var(--sizes-lg);
      color: var(--colors-white-alpha-700);
      font-weight: var(--font-weights-medium);
    }
  }

  .social-links {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-16);

    & a {
      display: flex;
      align-items: center;
      border-radius: var(--radii-lg);
      padding: var(--spacing-2) var(--spacing-4);
      border: 1px solid var(--colors-white-alpha-300);
      background-color: var(--colors-black-alpha-700);
      transition: transform 0.15s ease-in-out;

      &:hover {
        transform: scale(1.02);
      }
    }

    & .social-info {
      display: flex;
      flex-direction: column;
      margin-left: var(--spacing-4);
    }

    & a:not(:first-child) {
      margin-top: var(--spacing-3);
    }

    & .social-icon {
      display: block;
      width: var(--sizes-8);
    }

    & .social-info__name {
      text-align: left;
      font-weight: var(--font-weights-medium);
    }

    & .social-info__username {
      text-align: left;
      font-size: var(--font-sizes-sm);
    }
  }

  .backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: var(--colors-white-alpha-200);

    &.visible {
      animation-duration: 0.3s;
      animation-name: backdrop-appearance;
    }

    &.invisible {
      animation-duration: 0.3s;
      animation-name: backdrop-disappearance;
    }
  }

  .dialog-wrapper {
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: center;

    & .dialog {
      position: relative;
      padding: var(--spacing-6);
      max-width: var(--sizes-lg);
      border-radius: var(--radii-xl);
      background-color: var(--colors-white);

      &.open {
        animation-duration: 0.3s;
        animation-name: dialog-desktop-appearance;
      }

      &.closed {
        animation-duration: 0.3s;
        animation-name: dialog-desktop-disappearance;
      }

      & .dialog-head {
        display: flex;
        align-items: center;

        &::before {
          flex: 1;
          content: "";
        }

        & h3 {
          flex: 1;
          text-align: center;
          font-weight: var(--font-weights-semibold);
        }

        & .dialog-head__3rd {
          flex: 1;

          & .close-button {
            display: block;
            margin-left: auto;
            width: var(--sizes-8);
            height: var(--sizes-8);

            &:hover {
              cursor: pointer;
              border-radius: var(--radii-full);
              background-color: var(--colors-black-alpha-50);
            }
          }
        }
      }

      & .opengraph-image {
        margin-top: var(--spacing-6);
        border-radius: var(--radii-lg);
      }

      & .dialog-footer {
        display: flex;
        overflow: auto;
        margin-top: var(--spacing-10);
        justify-content: space-between;
        padding-bottom: var(--spacing-2);

        & .dialog-footer__item {
          display: flex;
          flex-shrink: 0;
          cursor: pointer;
          align-items: center;
          gap: var(--spacing-2);
          width: var(--sizes-20);
          flex-direction: column;

          & svg {
            width: var(--sizes-12);
            height: var(--sizes-12);
          }

          & .name {
            font-size: var(--font-sizes-xs);
            font-weight: var(--font-weights-medium);

            &.copied {
              color: var(--colors-green-600);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    .social-links {
      margin-top: var(--spacing-12);
    }

    .dialog-wrapper {
      align-items: flex-end;

      & .dialog {
        max-width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &.open {
          animation-duration: 0.3s;
          animation-name: dialog-mobile-appearance;
        }

        &.closed {
          animation-duration: 0.3s;
          animation-name: dialog-mobile-disappearance;
        }

        & .dialog-head h3 {
          flex: 2;
        }
      }
    }
  }

  @keyframes backdrop-appearance {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes backdrop-disappearance {
    0% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes dialog-desktop-appearance {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes dialog-desktop-disappearance {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  @keyframes dialog-mobile-appearance {
    0% {
      opacity: 0;
      margin-bottom: -3rem;
    }
    to {
      opacity: 1;
      margin-bottom: 0;
    }
  }

  @keyframes dialog-mobile-disappearance {
    0% {
      opacity: 1;
      margin-bottom: 0;
    }
    to {
      opacity: 0;
      margin-bottom: -3rem;
    }
  }
</style>

<script>
  function onCopyLinkbio(this: Element) {
    const copyTextInput =
      document.querySelector<HTMLInputElement>("#linkbio-input");

    if (copyTextInput) {
      copyTextInput.select();

      navigator.clipboard.writeText(copyTextInput.value).then(
        () => {
          const nameEl = this.querySelector(".name");

          if (nameEl && !nameEl.classList.contains("copied")) {
            nameEl.textContent = "Copied!";
            nameEl.classList.add("copied");

            setTimeout(() => {
              nameEl.textContent = "Copy Linkbio";
              nameEl.classList.remove("copied");
            }, 1500);
          }
        },
        () => {
          console.log("clipboard write failed");
        },
      );
    }
  }

  function onDialogClose() {
    const dialogBackdropEl = document.querySelector(".backdrop");
    const dialogEl = document.querySelector(".dialog");

    dialogBackdropEl?.classList.remove("visible");
    dialogBackdropEl?.classList.add("invisible");
    dialogEl?.classList.remove("open");
    dialogEl?.classList.add("closed");

    setTimeout(() => {
      const dialogPortalEl = document.querySelector(".dialog-portal");
      dialogPortalEl?.replaceChildren();
    }, 300);
  }

  function onMenuButtonClick() {
    const dialogPortalEl = document.querySelector(".dialog-portal");
    const dialogTemplateEl =
      document.querySelector<HTMLTemplateElement>("#dialog-portal");
    const dialogTemplateClone = dialogTemplateEl?.content.cloneNode(true);

    if (dialogPortalEl && dialogTemplateClone) {
      dialogPortalEl.appendChild(dialogTemplateClone);

      document
        .querySelector(".copy-linkbio")
        ?.addEventListener("click", onCopyLinkbio);

      document
        .querySelector(".dialog-head .close-button")
        ?.addEventListener("click", onDialogClose);
    }
  }

  document
    .querySelector(".menu-button")
    ?.addEventListener("click", onMenuButtonClick);

  const dialogPortalEl = document.querySelector(".dialog-portal");

  const observer = new MutationObserver((mutationList) => {
    for (const mutation of mutationList) {
      if (mutation.type === "childList" && mutation.removedNodes.length > 0) {
        document.removeEventListener("click", onCopyLinkbio);
        document.removeEventListener("click", onDialogClose);
      }
    }
  });

  if (dialogPortalEl) {
    observer.observe(dialogPortalEl, { childList: true });
  }
</script>
