---
import "../styles/base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/src/app/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Paulo Henrique − Christian • Software Engineer • Bible professor • Musical
      director
    </title>
  </head>
  <body>
    <div class="container">
      <slot name="first-column"></slot>
      <slot name="center-column"></slot>
      <slot name="third-column"></slot>
    </div>
  </body>
</html>

<style>
  .container {
    display: flex;
    margin: 0 auto;
    max-width: var(--sizes-breakpoint-xl);
  }
</style>
